<footer>
    <div class="footer-content">
        <p>© 2025 Template Engines Server. Всі права захищено.</p>
        <div class="footer-links">
            <a href="https://github.com/yurii0210/PUG-and-EJS-from-Express.git" target="_blank">GitHub</a>
        </div>
    </div>
</footer>
<script src="/js/main.js" defer></script>